<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

  <h3>SELECT YOUR CITY</h3>
  <a href="Vijayawada"><button type="button" name="button" >Vijayawada</button></a>
  <a href="Chennai"><button type="button" name="button">Chennai</button></a>
  <a href="Bangalore"><button type="button" name="button">Bangalore</button></a>
  <a href="Kolkata"><button type="button" name="button">Kolkata</button></a>
  <a href="Delhi"><button type="button" name="button">Delhi</button></a>
  <a href="Vishakhapatnam"><button type="button" name="button">Vishakhapatnam</button></a>
</body>
</html>
