{% extends 'authentication/layout.html' %}
{% load static from staticfiles %}
{% block headblock %}
    <title>Profile </title>
    <style>
        body{
            background-image: url("{% static 'profile.jpg'%}");
            background-size: 100%;
        }
        img{height: 200px;
            width:250px;
            padding-top: 50px;
        }
        .button3,input[type="file"]{
            background-color: #919191;
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 4px;
            transition: 0.5s;
        }
        .button3:hover{
            background-color: #3474ff;
        }
        table{
            width:40%;

        }
        td,tr{
            width: 30%;
        }
        .div1{
            margin-top: 15px;
            background-color: white;
            width:40%;
            height: 500px;
            overflow: auto;
            margin-left: 540px;
            border-radius: 30px;
            font-size: 17px;
            box-shadow:  inset 0 0 10px #000000;
            color: #007d91;
            text-shadow: 0 0 2px #3474ff;
        }
    </style>
{% endblock %}
{% block content %}

        <div class="div1">
            <center>
                <img src="{{ user.userprofile.profile_pic.url }}"><br><br><br><br>
                <center>
                    <table>
                        <tr>
                            <td>
                                Name:
                            </td>
                            <td>
                                {{ user.username  }}<br>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Gender:
                            </td>
                            <td>
                                {{ user.userprofile.gender }}<br>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Email:
                            </td>
                            <td>
                                {{ user.email }}<br>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Phone Number:
                            </td>
                            <td>
                                {{ user.userprofile.phone_number }}<br>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {% if review %}
                                    {{ review }}
                                {% endif %}<br>
                            </td>
                        </tr>


                    </table>
                </center>
                <a href="{% url 'editprofile' %}">   <button class="button3"> Edit </button></a>

            </center>
        </div>

{% endblock %}